<div class="row m-0">
    <div class="col-md-12" id="main">
        {{> nav}}
        <section class="farmerBanner">
            <div class="bg">
                <div>
                    <h1>Meet a farmer today...</h1><br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-filter"></i></span>
                        </div>
                        <input type="text" class="form-control bg-transparent" placeholder="Filter by name | location"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>

            </div>
        </section>
        <section class="container grid-display">
            {{#each profiles}}
            <div class="card bg-light" style="width: 18rem;" onclick="detailss(event, `{{this.user_id}}`)">
                <i class="fas fa-certificate"></i>
                <img class="card-img-top" src="{{this.profileimage}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.firstname}} {{this.lastname}}</h5>
                    <p class="card-text font-smaller1 word-break">{{this.aboutyou}}</p>
                    <div class="openbtw">
                        <div class="text-center">
                            <i class="fas fa-map-marker-alt font-small"></i> <br>
                            <span class="font-small">{{this.state}}</span>
                        </div>
                        <div class="text-center">
                            <i class="fas fa-user font-small"></i> <br>
                            <span class="font-small">28</span>
                        </div>
                        <div class="text-center">
                            <i class="fas fa-map-marked-alt font-small"></i> <br>
                            <span class="font-small">{{this.landnumber}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </section>
    </div>
    <div id="sideview" class="bg-dark display-hidden">
        <section class="p-1 pt-5 ">
            <article id="detailsOfFarmer">
                <div style="position: absolute;right: 20px;top: 30px;color: #ffffffab;z-index: 2;">
                    <i class="far fa-times-circle cursor" onclick="closeSidebar()"
                        style="font-size: 20px!important;"></i>
                </div>
                <div>
                    <img src="" alt="" id="pimage" style="width: 100%; border-radius: 20px">
                </div><br>
                <div>
                    <h3 id="name" class="mine color-white"></h3>
                    <p class="font-smaller word-break" id="about"></p>
                </div>

                <div class="openbtw">
                    <p>Location: <span id="location" class="font-smaller"></span></p>
                    <p>Phone: <span id="phone" class="font-smaller"></span></p>
                </div>
                <div class="openbtw">
                    <p>Age: <span id="birthday" class="font-smaller"></span></p>
                    <p>Yrs. of Exp.: <span id="exp" class="font-smaller"></span></p>
                </div>
                <div>
                    <p class="font-smaller">Major Produce: <span id="produce" class="font-smaller"></span></p>
                </div>
                <div>
                    <p class="font-smaller">Lands Owned: <span id="land" class="font-smaller"></span></p>
                </div>
                <div class="text-center">
                    <button class="btn btn-block btn-green" onclick="sendMessage()">Initiate a discuss</button>
                </div>
            </article>
            <article class="display-hidden" id="messagebox">
                <div class="color-white">
                    Send Message to <h3 class="mine" id="name2"></h3>
                </div>
                <form>
                    <input type="hidden" id="identity">
                    <input type="hidden" id="emaill">
                    <textarea name="message" id="mes" class="w-100 input--style-4" rows="15" required></textarea>
                    <p id="response" class="color-white"></p>
                    <button type="button" onclick="sendMessageToFarmer()" class="btn btn-block btn-green">Send</button>
                </form>
                <br><br>
                <div class="text-right color-white cursor" onclick="back2details()">
                    Back
                </div>
            </article>
        </section>
    </div>
</div>
<br><br><br><br><br>
{{> footer}}

<script>
    function sendMessageToFarmer() {
        const id = document.getElementById('identity').value
        const email = document.getElementById('emaill').value
        const mes = document.getElementById('mes').value
        if (mes == '' || id == '') {
            return
        }
        $.ajax({
            url: `/profile/${id}/message`,
            dataType: 'json',
            method: 'POST',
            data: {
                message: mes,
                email: email
            },
            success: function (data) {
                document.getElementById("response").textContent = data.message
            },
            error: function () {
                document.getElementById("response").textContent = "Something went wrong!!!"
            }
        })
        document.getElementById('mes').value = ''
    }
    $(function () {
        $(document).scroll(function () {
            var $nav = $(".navbar.fixed-top");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
    });
    function back2details() {
        $("#detailsOfFarmer").show('slow')
        $("#messagebox").hide('slow')
    }
    function sendMessage() {
        $("#detailsOfFarmer").hide('slow')
        $("#messagebox").show('slow')
    }
    function detailss(e, id) {
        $.ajax({
            url: `/profile/${id}/retrieve`,
            method: 'GET',
            success: function (data) {
                const { profileimage, email, aboutyou, firstname, lastname, state, birthday, yrexperience, landnumber, phoneNumber, majorproduce, user_id } = data.data.userProfile

                document.getElementById("name").textContent = `${firstname} ${lastname}`
                document.getElementById("name2").textContent = `${firstname} ${lastname}`
                document.getElementById("about").textContent = aboutyou
                document.getElementById("location").textContent = state
                document.getElementById("pimage").src = profileimage
                document.getElementById("birthday").textContent = birthday
                document.getElementById("phone").textContent = phoneNumber
                document.getElementById("land").textContent = landnumber
                document.getElementById("exp").textContent = yrexperience
                document.getElementById("produce").textContent = majorproduce
                document.getElementById("identity").value = user_id
                document.getElementById("emaill").value = email
            },
            error: function () {
                console.log("Something went wrong!!!")
            }
        })
        $("#main").removeClass("col-md-12")
        $("#main").addClass("col-md-9")
        $("#sideview").addClass("col-md-3")
        $("#sideview").removeClass("display-hidden")
    }
    function closeSidebar() {
        $("#main").removeClass("col-md-9")
        $("#main").addClass("col-md-12")
        $("#sideview").removeClass("col-md-3")
        $("#sideview").addClass("display-hidden")

    }
</script>
<style>
    .navbar.fixed-top.scrolled {
        background-color: #343a40 !important;
        transition: background-color 200ms linear;
    }

    * {
        font-size: small !important;
    }

    #sideview {
        height: 100vh;
        position: fixed;
        right: 0;
    }

    .col-md-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .col-md-9 {
        margin-right: 2px !important;
        padding-left: 0 !important;
    }

    .grid-display {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    h1 {
        font-size: 60px !important;
    }

    .openbtw {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .farmerBanner {
        background-image: url(/img/handshake.jpg);
        background-repeat: no-repeat;
        height: 60vh;
        background-position: bottom;
        background-attachment: fixed;
        margin-bottom: 50px;
    }

    .farmerBanner div.bg {
        background-color: #000000ab;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }


    .input-group input {
        padding: 20px 10px;
        color: white !important;
        outline: none !important;
    }

    .fa-certificate {
        position: absolute;
        color: green;
        top: 10px;
        right: 10px;
        font-size: 20px !important;
    }

    .card:hover {
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }
</style>