<div class="row">
    <div class="col-md-6" id="profileimage"></div>
    <div class="col-md-6" id="profileform">
        <div class="profileform">
            <form action="/profile/{{profile.user_id}}?_method=PATCH" method="POST">
                <h2>Complete your profile</h2>
                <div class="form-row">
                    <div class="col">
                        <div class="input-group">
                            <label class="label">first name</label>
                            <input class="input--style-4" type="text" value="{{profile.firstname}}" name="firstname">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <label class="label">last name</label>
                            <input class="input--style-4" type="text" value="{{profile.lastname}}" name="lastname">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <label class="label">State</label>
                            <input class="input--style-4" type="text" value="{{profile.state}}" name="state">
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="col">
                        <div class="input-group">
                            <label class="label">Birthday</label>
                            <input class="input--style-4" type="date" value="{{profile.birthday}}" id="birthday"
                                name="birthday">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <label class="label">Phone Number</label>
                            <input class="input--style-4" type="text" value="{{profile.phoneNumber}}"
                                name="phoneNumber">
                        </div>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="col">
                        <div class="input-group">
                            <label class="label">Years of Experience</label>
                            <input class="input--style-4" type="number" value="{{profile.yrexperience}}"
                                name="yrexperience">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <label class="label">Languages</label>
                            <input class="input--style-4" type="text" value="{{profile.languages}}" name="languages">
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="input-group">
                            <label class="label">Number of Lands Owned</label>
                            <input class="input--style-4" type="number" min="0" value="{{profile.landnumber}}"
                                name="landnumber">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <label class="label">Major Produce</label>
                            <input class="input--style-4" type="text" value="{{profile.majorproduce}}"
                                name="majorproduce">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-group" style="margin: 0 15px">
                        <label class="label">About You</label>
                        <textarea class="input--style-4 w-100" rows="3" name="aboutyou">{{profile.aboutyou}}</textarea>
                    </div>
                </div>
                <br>
                <div class="">
                    <button class="btn btn--blue btn-block" type="submit" style="background-color: #17a2b8;
                    border-color: #17a2b8;">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>