{{> nav2 }}
<style>
    * {
        font-size: small !important;
    }
</style>
<br>
<section class="cover-bg mt-5 pb-5" style="width: 100vw;">
    <div id="settingsScreen">
        <section class="container user-page">
            <section class="row">
                <div class="col-md-4 py-4">
                    <div class="sidebar-nav p-3 active" id="accountSettings">
                        <div>
                            <h3 class="justify-content-start mine">Account Setting</h3>
                            <p class="text-muted">Details about your personal and professional information</p>
                        </div>
                    </div>
                    <div class="sidebar-nav p-3" id="messages">
                        <div>
                            <h3 class="justify-content-start mine">Messages</h3>
                            <p class="text-muted">Important messages and business proposals</p>
                        </div>
                    </div>
                    <div class="sidebar-nav p-3" id="password">
                        <div>
                            <h3 class="justify-content-start mine">password & security</h3>
                            <p class="text-muted">Keep your account secure</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 py-4">
                    <div class="profile-heading p-3">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3 centered">
                                        <img src="/img/fff.jpeg" alt="d-128x128" id="profile-picture" class="support">
                                    </div>
                                    <div class="col-md-6 centered-left">
                                        <div class="details">
                                            <h3 class="mine">Upload a New Photo</h3>
                                            <p class="text-muted"><em>Profile-pic.jpg</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 centered">
                                <form action="/" id="pixForm" method="POST" class="display-hidden">
                                    <input type="file" name="profilePix" id="inputFile" onchange="fileSelect()">
                                </form>
                                <button type="button" class="btn btn-info justify-content-end update-button"
                                    onclick="fileUpload()">Update</button>
                            </div>
                        </div>
                    </div>

                    <div class="user-information p-5">
                        <section id="account">
                            <h3 class="mine">Change User Information here</h3>
                            <br>
                            <form action="/profile/{{profile.user_id}}?_method=PATCH" method="POST">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group">
                                            <label class="label">first name</label>
                                            <input class="input--style-4" type="text" value="{{profile.firstname}}"
                                                name="firstname">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <label class="label">last name</label>
                                            <input class="input--style-4" type="text" value="{{profile.lastname}}"
                                                name="lastname">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <label class="label">State</label>
                                            <input class="input--style-4" type="text" value="{{profile.state}}"
                                                name="state">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group">
                                            <label class="label">Birthday</label>
                                            <input class="input--style-4" type="date" value="{{profile.birthday}}"
                                                id="birthday" name="birthday">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <label class="label">Phone Number</label>
                                            <input class="input--style-4" type="text" value="{{profile.phoneNumber}}"
                                                name="phoneNumber">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group">
                                            <label class="label">Years of Experience</label>
                                            <input class="input--style-4" type="number" value="{{profile.yrexperience}}"
                                                name="yrexperience">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <label class="label">Languages</label>
                                            <input class="input--style-4" type="text" value="{{profile.languages}}"
                                                name="languages">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group">
                                            <label class="label">Number of Lands Owned</label>
                                            <input class="input--style-4" type="number" min="0"
                                                value="{{profile.landnumber}}" name="landnumber">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <label class="label">Major Produce</label>
                                            <input class="input--style-4" type="text" value="{{profile.majorproduce}}"
                                                name="majorproduce">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="input-group" style="margin: 0 15px">
                                        <label class="label">About You</label>
                                        <textarea class="input--style-4 w-100" rows="3"
                                            name="aboutyou">{{profile.aboutyou}}</textarea>
                                    </div>
                                </div>
                                <br>
                                <div class="">
                                    <button class="btn btn--blue btn-block" type="submit" style="background-color: #17a2b8;
    border-color: #17a2b8;">Submit</button>
                                </div>
                            </form>
                        </section>
                        <section id="message" class="display-hidden">
                            <h3 class="mine">Check and respond to your messages here</h3>
                            <br>
                            <div id="messageScroll">
                                {{#each profile.messages }}
                                <div class="unitMessage">
                                    <div class="openbtw">
                                        <h5><em>From: {{this.sender}} | To: {{this.receiver}}</em>
                                        </h5>
                                        <p class="text-muted font-smaller">{{this.date}}</p>
                                    </div>
                                    <p class="m-0 font-small-black">{{this.message}}</p>
                                    <small class="cursor profile" onclick="showInput(event, `{{this.node}}`)"><em
                                            style="font-size: 10px !important; color:#17a2b8">Open
                                            Chat</em></small>
                                    <hr>


                                </div>
                                {{/each}}
                            </div>

                        </section>
                        <section id="security" class="display-hidden">
                            <h3 class="mine">Change your account password here</h3>
                            <br>
                            <form action="">
                                <div class="input-group">
                                    <label for="curr" class="label">Current Password</label>
                                    <input type="password" class="input--style-4" name="currentPass" id="curr">
                                </div>
                                <div class="input-group">
                                    <label for="new" class="label">New Password</label>
                                    <input type="password" class="input--style-4" name="newPass" id="new">
                                </div>
                                <div class="input-group">
                                    <label for="rnew" class="label">Retype New Password</label>
                                    <input type="password" class="input--style-4" name="rnewPass" id="rnew">
                                </div>
                                <div class="">
                                    <button class="btn btn--blue btn-block" type="submit" style="background-color: #17a2b8;
    border-color: #17a2b8;">Submit</button>
                                </div>
                            </form>

                        </section>

                    </div>
                </div>
            </section>
        </section>
</section>

{{> footer}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

<script>

    function showInput(e, node) {
        location.href = `/livechat/?node=${node}`
    }

    function fileUpload() {
        $("#inputFile").click()
    }
    function fileSelect() {
        $("#pixForm").submit()
    }
    $('#accountSettings').on('click', function () {
        $('#messages').removeClass("active")
        $('#password').removeClass("active")
        $('#accountSettings').addClass("active")
        $('#account').show('slow')
        $('#security').hide('slow')
        $('#message').hide('slow')

    })
    $('#password').on('click', function () {
        $('#messages').removeClass("active")
        $('#password').addClass("active")
        $('#accountSettings').removeClass("active")
        $('#account').hide('slow')
        $('#security').show('slow')
        $('#message').hide('slow')
    })
    $('#messages').on('click', function () {
        $('#messages').addClass("active")
        $('#password').removeClass("active")
        $('#accountSettings').removeClass("active")
        $('#account').hide('slow')
        $('#security').hide('slow')
        $('#message').show('slow')
    })
</script>